@media screen and (max-width: 710px) {
	#header{
		position: relative;
		top: 0px;
		width: 100%;
		height: auto;
		padding: 12px 0px 12px 0px;
		margin: 0;
	}
	#nav-bar {
		text-align: center;
	}
	#nav-bar {
		position: relative;
	}
	#nav-bar ul{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	#nav-bar li{
		width: 100%;
		text-align: center;
		display: inline-block; /* Change to inline-block for equal size */ 
	}
	main{
		position:fixed;
		margin-top: 120px;
		margin-left: 60px;
	}
}

@media screen and (max-width: 580px) {
	#header{
		position: relative;
		top: 0px;
		width: 100%;
		height: auto;
		padding: 12px 0px 12px 0px;
		margin: 0;
	}
	#nav-bar a{
		padding: 6px 6px;
		font-size: 10px;
	}

	main{
		position:fixed;
		margin-top:140px;
	}
}
/* navbar */
#header-img{
	width: 300px;
	object-fit: contain;
}
#header{
	z-index: 10000;
	position: fixed;
	top: 0px;
	width: 100%;
	height: auto;
	padding: 12px 0px 12px 0px;
	margin: 0;
	background-color: #e3e2e2;
}
.div-img{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
body{    
    margin: 0px;
    padding: 0px;
}
#nav-bar a{
	display:block;
	padding: 10px 25px;
	text-decoration: none;
	font-size: 20px;
  	color: #000000;
}

#nav-bar ul{
	display:inline-block;
    flex-direction: row;
    list-style-type: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
#nav-bar li{
	float:left;
}

/* form */
main{
	position:relative;
	padding: 7%;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form h2{
	text-align: center;
}
#email {
	width: 100%;
	padding: 10px;
	font-size: 15px;
}
#form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100px;
}
.form .btn {
	display: block;
	margin: 20px;
	border: 0;
	background-color: #d1c48e;
	font-size: 15px;
	padding: 4px;
	font-weight: bold;
}
  
.form .btn:hover {
	background-color: rgb(153, 140, 115);
	transition: background-color 1s;
	cursor: pointer;
}

/* features */
#features {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%; /* Take up the full width */
	margin-bottom: 50px;
}

.icon {
	font-size: 20px;
	width: 20%; /* Take up the full width */
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 10px;
	color: rgb(128, 113, 97);
}

.desc {
	text-align: left;
	width: 70%; /* Take up the full width */
	margin: 10px;
}
.desc h2 {
	text-align: left;
}
/* video */

#how-it-works {
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
}
  
#how-it-works iframe {
	width: 600px; /* Adjust the width percentage as needed */
	height: 350px; /* Set a specific height value */
}

/* pricing */
.pricing {
	margin-bottom: 50px;
	display: flex;
	justify-content: space-around;
	padding: 0 30px;
	flex-wrap: wrap; /* Allow products to wrap onto the next line */
  }
  
  .product {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: #e7dcdc solid 3px;
	width: 300px;
	margin: 10px; /* Add margin for spacing between products */
  }
  
  .product .level {
	padding: 10px 0;
	background-color: rgb(128, 113, 97);
	width: 100%;
	text-align: center;
  }
  
  .product ol {
	padding-left: 0;
	list-style: none;
	text-align: center;
  }
  
  .btn {
	border: 0;
	margin: 10px 0;
	background-color: #d1c48e;
	font-weight: 400;
	font-size: 15px;
	padding: 10px;
	font-weight: bold;
  }
  
  .btn:hover {
	background-color: rgb(153, 140, 115);
	transition: background-color 1s;
	cursor: pointer;
  }
/* footer */
footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #e3e2e2;
	color: rgb(150, 150, 150);
	text-align: center;
}

footer a {
	display: inline-block;
	padding: 10px 10px;
	text-decoration: none;
	font-size: 15px;
	color: #000000;
	clear: both; /* Clear the float to prevent wrapping */
}
  
footer ul {
	flex-direction: row;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
  
footer li {
	float: right;
}
  
span {
	clear: both; /* Clear the float to show below the li elements */
    display: flex;
    justify-content: flex-end; /* Align the span to the right */
    padding-bottom: 5px;
	padding-right: 5px;
}